body{margin:0px;}
.footer-cont{
    display: flex;
    color:darkgrey;
    padding: 50px;
    font-size: 20px;
    border-bottom: solid 1px white;
    background-color: #343a40;
}
.footer-item{
    height: 50px;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.f-i-s{
    justify-content: flex-start;
}

.f-i-e{
    justify-content: flex-end;
}

i{
    transition: all 1s ease;
    color:darkgrey;
    padding-right: 5px;
    padding-left: 5px
}

.foot-item-tit{
    font-size:32px;
    padding-bottom: 10px;
    transition: all 1s ease;
    color:darkgrey;
}

.foot-item-text{
    transition: all 1s ease;
    color:darkgrey;
    padding: 2px;
}

i:hover, .foot-item-tit:hover, .foot-item-text:hover{
    color:white;
}

i:hover, .foot-item-text:hover{
    transform: scale(1.45);
}

i:hover{
    cursor:pointer;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #fff;
  color: #343a40;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 12px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 1222px){
    .footer-cont{
        flex-direction: column;
        padding:25px 0px;
    }
    .footer-item{
        padding-bottom: 50px;
    }
    .copyszoveg{
        padding: 0px;
    }
}