.imbg{
  text-align:center; font-size:20px; background-size: cover;color:white;
}

.pfw-logo-text{
  font-family: againts;
  font-size: 300px;
  padding:50px 0px;
}

@media screen and (max-width: 1100px){
.chatifr{
width:0px; height:0px;
visibility: hidden;
}
.pfw-logo-text{
  font-size: 80px;
}
}
