.szoveg_kozep{
  text-align: center;
}

.pfw_tag{
  width: 35%;
  float: left;
  padding: 50px;
  border: solid;
  border-radius: 20px;
  margin: 0px 40px;
}

.pfw_tag:hover{
    transition-duration: 0.4s;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    cursor:pointer;
}

.toltelek{
  width: 10%;
  height: 300px;
  float: left;
}

.nev{
  font-weight: bold;
  font-size: 30px;
}

.rolunk-cont{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-align: center;
  padding: 0px 50px;
}

.rolunk-item{
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  border: 2px white solid;
  border-radius: 20px;
  padding: 0px 30px;
  margin: 0px 30px;
}

.rolunk-item:hover{
  transition-duration: 0.4s;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  cursor: pointer;
}

.rolunk-kep{
  text-align: left;
}

.rolunk-cim{
  font-size: 24px;
  font-weight: bold;
}

.rolunk-leiras-cont{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.rolunk-leiras-item{
  font-size: 14px;
  font-weight: normal;
  padding: 0px 20px;
  text-align: left;
}

@media screen and (max-width: 1100px){
	.rolunk-cont{
    flex-direction: column;
  }
  .rolunk-item{
    margin: 30px 0px;
  }
}
