.setup{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 0px 20%;
}

.setup_cont{
  border:solid;
  border-radius: 10px;
  padding: 20px;
  margin: 0px 20px 20px 20px;
}

.cucc, .cucc:hover, .cucc:visited, .cucc:link{color:white;}

.setup_cont:hover{
    transition-duration: 0.4s;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.cím{
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  padding: 20px 0px 20px 0px;
}

.fő_cím{
  font-weight: bold; font-size:64px; text-align: center; padding:30px;
}

.c2, .c3 {
  flex: 50%;
}

@media screen and (max-width: 1100px){
  .setup {
    flex-direction: column;
    padding: 0px 20px;
  }
}
