*{color:white}
	a:link, a:visited, a:hover, a:active {
  background-color: transparent;
  text-decoration: none;
  }

  	html{
		overflow-x: hidden;
	}
	body{
	//background-image: url('../images/pfw-hatter.jpg');
	background-color: #303030;
	font-family: lato-bold;
	margin:0px;
	padding: 0px;
	overflow: hidden;
	overflow-x: hidden;
	}

	::-webkit-scrollbar{
	width: 20px;
	}

	::-webkit-scrollbar-thumb{
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff),to(#a6a6a6));
	box-shadow: inset 2px 2px 2px rgba (255,255,255,0.25), inset -2px -2px -2px rgba(0,0,0,0.25);
	}

	::-webkit-scrollbar-track{
	background: linear-gradient(to right, #343A40, #343A40 1px, #171a1c 1px, #171a1c);
	}

	.avgifr{
		height:450px;
		width:800px;
		}
	  
	@media screen and (max-width: 1100px){
		.avgifr, iframe{
		width:380px; height:225px;
		}
	}
	  
	@media screen and (max-width: 400px){
		.avgifr, iframe{
		width:304px; height:180px;
		}
	}

	@font-face {
        font-family: against;
        src: url(../fonts/againts.otf);
    }
    @font-face {
        font-family: lato-bold;
        src: url(../fonts/Lato-Bold.ttf);
    }