---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}
  {%- if site.posts.size > 0 -%}
  <h2 class="cím">{{ page.list_title | default: "Posts" }}</h2>
  <div style="display:flex; flex-direction: column; flex-wrap: wrap; margin:0 2rem; border:solid; border-radius: 20px;">
    {%- for post in site.posts limit:3 -%}
      {% include postsList.html %}
    {%- endfor -%}
  {%- endif -%}

</div>
<div style="margin-bottom: 2rem;"></div>
</div>
