---
layout: default
---
<style>
  img{
    max-width: 80%;
  }
  .img-cont{
    width: 50rem;
    margin: auto;
  }
  
	.postwidth{
		max-width: 664px;
    margin:1rem auto;
    border-radius: 2rem;
    padding: 1rem;
	}

</style>
<article class="post post_text h-entry" itemscope itemtype="http://schema.org/BlogPosting">
<div class="postwidth">
  <header class="post-header">
    <h1 class="post-title p-name" style="font-size: 3rem;" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}</p>
  </header>

  <div class="post-content e-content" itemprop="articleBody" style="font-size: large;">
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</div>
</article>
